* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 1200px;
}

.custom-content-container {
  padding: calc(72px + 64px) 0 64px;
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
}

.custom-main-title {
  margin-bottom: 48px;
}

.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f0f7ff;
}

.nav {
  max-width: 1200px;
  flex: 1;
}
